[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.1 debian-gimp-0.0.1
Icon=/home/jay/.local/share/icons/gimp.png
Type=Application
Terminal=false
GenericName=Gimp
Name=Gimp
StartupNotify=false
Categories=Graphics
