[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.4 debian-gimp:9.5.7
Icon=/home/jay/.local/share/icons/gimp.png
Type=Application
Terminal=false
GenericName=Gimp 9.5.7
Name=Gimp 9.5.7
StartupNotify=false
Categories=Graphics
